
@{
    ViewBag.Title = "ConfirmContour";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">اطلاعات کنتور</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="actionDate" class="bmd-label-floating">تاریخ اقدام</label>
                                <input type="text" id="actionDate" name="actionDate" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="acceptDate" class="bmd-label-floating">تاریخ مورد تایید</label>
                                <input type="text" id="acceptDate" name="acceptDate" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nationalCode" class="bmd-label-floating">بیمار مورد تایید</label>
                                <input type="text" id="nationalCode" name="nationalCode" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Id" class="bmd-label-floating">سرطان</label>
                                @Html.DropDownList("cancerId", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="description" class="bmd-label-floating">توضیحات </label>
                                <textarea id="description" name="description" value="" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>


