
@{
    ViewBag.Title = "Calander";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row seven-cols">
        @for (int i = 0; i < 31; i++)
        {
            DateTime currentDate = DateTime.Now.AddDays(i);
            string JalaliDate = PhysicManagement.Common.DateUtility.GetPersianDateTime(currentDate);

            <div class="col-md-1">
                <div class="card card-stats active">
                    <div class="card-header card-header-warning card-header-icon ">
                        <p class="card-category">@PhysicManagement.Common.DateUtility.PersionDayOfWeek(currentDate)</p>
                        <h3 class="card-title">
                            @PhysicManagement.Common.DateUtility.GetPersianDay(currentDate)
                            <small>
                                @PhysicManagement.Common.DateUtility.GetPersianMonthName(currentDate)
                            </small>
                        </h3>
                    </div>
                    <div class="card-footer ltr">
                        <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
                    </div>
                </div>
            </div>
        }



    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">راهنما</h4>
                </div>
                <div class="card-body table-responsive">
                    <div class="row guid">
                        <div class="col-lg-2 col-md-2 pe">Pending</div>
                        <div class="col-lg-2 col-md-2 av">Available</div>
                        <div class="col-lg-2 col-md-2 in">In Progress</div>
                        <div class="col-lg-2 col-md-2 pa">Partially Completed</div>
                        <div class="col-lg-2 col-md-2 co">Complete</div>
                        <div class="col-lg-2 col-md-2 ca">Cancelled</div>
                        <div class="col-lg-2 col-md-2 al">Almost Due</div>
                        <div class="col-lg-2 col-md-2 ov">Overdue</div>
                        <div class="col-lg-2 col-md-2 un">Unscheduled</div>
                        <div class="col-lg-2 col-md-2 de">Decision</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تغییر وضعیت بیمار</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group dropdown-toggle">
                        <select class="selectpicker" data-style="btn btn-primary btn-round" title="">
                            <option selected="">لطفا وضعیت بیمار را انتخاب نمایید</option>
                            <option value="1">Pending</option>
                            <option value="2">Available</option>
                            <option value="3">In Progress</option>
                            <option value="4">Partially Completed</option>
                            <option value="4">Complete</option>
                            <option value="4">Cancelled</option>
                            <option value="4">Almost Due</option>
                            <option value="4">Overdue</option>
                            <option value="4">Unscheduled</option>
                            <option value="4">Decision</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن<div class="ripple-container"><div class="ripple-decorator ripple-on ripple-out" style="left: 44.5781px; top: 12px; background-color: rgb(51, 51, 51); transform: scale(11.1074);"></div><div class="ripple-decorator ripple-on ripple-out" style="left: 44.5781px; top: 12px; background-color: rgb(51, 51, 51); transform: scale(11.1074);"></div><div class="ripple-decorator ripple-on ripple-out" style="left: 44.5781px; top: 12px; background-color: rgb(51, 51, 51); transform: scale(11.1074);"></div><div class="ripple-decorator ripple-on ripple-out" style="left: 44.5781px; top: 12px; background-color: rgb(51, 51, 51); transform: scale(11.1074);"></div></div></button>
                    <button type="button" class="btn btn-primary">تغییر</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">یکشنبه</p>
                <h3 class="card-title">1<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">دوشنبه</p>
                <h3 class="card-title">2<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">سه شنبه</p>
                <h3 class="card-title">3<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">چهارشنبه</p>
                <h3 class="card-title">4<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">پنجشنبه</p>
                <h3 class="card-title">5<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">جمعه</p>
                <h3 class="card-title">6<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">شنبه</p>
                <h3 class="card-title">7<small>خرداد</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info">تغییر وضعیت<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">یکشنبه</p>
                <h3 class="card-title">8<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">دوشنبه</p>
                <h3 class="card-title">9<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">سه شنبه</p>
                <h3 class="card-title">10<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">چهارشنبه</p>
                <h3 class="card-title">11<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">پنجشنبه</p>
                <h3 class="card-title">12<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">جمعه</p>
                <h3 class="card-title">13<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">شنبه</p>
                <h3 class="card-title">14<small>خرداد</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info">تغییر وضعیت<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">یکشنبه</p>
                <h3 class="card-title">15<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats active">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon icon_guid in"></div>
                <p class="card-category">دوشنبه</p>
                <h3 class="card-title ">16<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">سه شنبه</p>
                <h3 class="card-title">
                    17<small>تیرماه</small>
                </h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">چهارشنبه</p>
                <h3 class="card-title">18<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">پنجشنبه</p>
                <h3 class="card-title">19<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">جمعه</p>
                <h3 class="card-title">20<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">شنبه</p>
                <h3 class="card-title">21<small>خرداد</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">یکشنبه</p>
                <h3 class="card-title">22<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">دوشنبه</p>
                <h3 class="card-title">
                    23<small>تیرماه</small>
                </h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">سه شنبه</p>
                <h3 class="card-title">24<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">چهارشنبه</p>
                <h3 class="card-title">
                    25<small>تیرماه</small>
                </h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">پنجشنبه</p>
                <h3 class="card-title">26<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">جمعه</p>
                <h3 class="card-title">27<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">شنبه</p>
                <h3 class="card-title">28<small>خرداد</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">یکشنبه</p>
                <h3 class="card-title">29<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">دوشنبه</p>
                <h3 class="card-title">30<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">سه شنبه</p>
                <h3 class="card-title">31<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats past_month">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">چهارشنبه</p>
                <h3 class="card-title">1<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats past_month">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">پنجشنبه</p>
                <h3 class="card-title">2<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="card card-stats past_month">
            <div class="card-header card-header-warning card-header-icon">
                <p class="card-category">جمعه</p>
                <h3 class="card-title">3<small>تیرماه</small></h3>
            </div>
            <div class="card-footer ltr">
                <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">تغییر وضعیت</button>
            </div>
        </div>
    </div>*@