
@{
    ViewBag.Title = "بیماران";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">layers</i>
                </div>
                <h3 class="card-title">@ViewBag.Title</h3>
                <p class="card-category">امکان جستجو و ثبت بیمار جدید از این طریق قابل اجراست.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-10 ml-auto mr-auto mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-block" href="/Patient/PatientSearch">جستجوی بیماران</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-block" href="/Patient/RegisterPatient">پذیرش و ورود بیمار</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    اجازه دسترسی به اطلاعات این فرم ها فقط برای کاربر ارشد ممکن است
                </div>
            </div>
        </div>
    </div>
</div>
