
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">اطلاعات نمایشی بیمار</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FirstName" class="bmd-label-floating">نام بیمار</label>
                                <input type="text" id="FirstName" name="FirstName" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LastName" class="bmd-label-floating">نام خانوادگی بیمار</label>
                                <input type="text" id="LastName" name="LastName" value="" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Id" class="bmd-label-floating">انتخاب پزشک</label>
                                @Html.DropDownList("Id", null, "انتخاب کنید", htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="NationalCode" class="bmd-label-floating">کد ملی</label>
                                <input type="text" id="NationalCode" name="NationalCode" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Mobile" class="bmd-label-floating">موبایل </label>
                                <input type="text" id="Mobile" name="Mobile" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Code" class="bmd-label-floating">کد رادیو تراپی </label>
                                <input type="text" id="Code" name="Code" value="" class="form-control">
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

