@model PhysicManagement.Model.AlarmEventType

@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "ثبت جدید";
    }
    else
    {
        ViewBag.Title = "ویرایش اطلاعات ";
    }
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <h4 class="card-title">اطلاعات نمایشی نوع رویداد هشدارها</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Title" class="bmd-label-floating">نام </label>
                                    <input type="text" id="Title" name="Title" value="@Model.Title" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="EnglishTitle" class="bmd-label-floating">نام انگلیسی </label>
                                    <input type="text" id="EnglishTitle" name="EnglishTitle" value="@Model.EnglishTitle" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Description" class="bmd-label-floating">توضیحات</label>
                                    <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-rose pull-right">ثبت تغییرات</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>



