@model PhysicManagement.Model.DoctorAlarm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>
                <h4 class="card-title">تنظیمات پیامکی پزشک</h4>
            </div>
            <div class="card-body">
                <form id="FormValidation" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="patientFirstName" class="bmd-label-floating"> * نام پزشک</label>
                                @ViewBag.DoctorName
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="patientLastName" class="bmd-label-floating">پیامک دریافت کند؟</label>

                                @Html.CheckBox("IsSmsRecieveActive")

                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <br/>
                            <label for="" class="bmd-label-floating"> رزیدنت جایگزین</label>
                            <div class="form-group dropdown-toggle">

                                @Html.DropDownListFor(x => x.ReplacementResidentId, (IEnumerable<SelectListItem>)ViewBag.ResidentList)

                            </div>
                        </div>

                    </div>


                    <div class="category form-category">* پرکردن بخش های ستاره دار اجباری می باشد.</div>
                    <button type="submit" class="btn btn-rose pull-right">ثبت </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#IsSmsRecieveActive').click(function () {
            
            var data = $('#IsSmsRecieveActive').prop('checked')
            if (data) {
                $('#ReplacementResidentId').attr('disabled', 'disabled');
            }
            else {
                $('#ReplacementResidentId').removeAttr('disabled');
            }
        });
    })

</script>