
@{
    ViewBag.Title = "اطلاعات پایه";
}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">content_copy</i></div>
                    <h3 class="card-title">@ViewBag.Title</h3>
                    <p class="card-category">ویرایش اطلاعات پایه برنامه از این بخش انجام می شود.</p>
                    <div class="row pt-2">
                        <div class="col-12">
                            <p class="card-category"><a href="~/Alarm/List">هشدارها</a></p>
                            <p class="card-category"><a href="~/Doctor/List">پزشکان</a></p>
                            <p class="card-category"><a href="~/Resident/List">رزیدنت ها</a></p>
                            <p class="card-category"><a href="~/User/List">پرسنل سی تی اسکن ها</a></p>
                            <p class="card-category"><a href="~/PhysicUser/List">فیزیست</a></p>
                            <p class="card-category"><a href="~/Cancer/List">سرطان ها</a></p>
                            <p class="card-category"><a href="~/treatmentDevice/List">دستگاه های درمان</a></p>
                            <p class="card-category"><a href="~/PhysicTreatmentPlan/List">برنامه درمان فیزیکی</a></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        اجازه دسترسی به اطلاعات این فرم ها فقط برای کاربر ارشد ممکن است
                    </div>
                </div>
            </div>
        </div>
    </div>

