
@{
    ViewBag.Title = "اطلاعات پایه";
}
<style type="text/css">
    .btn{padding:12px 15px;}
</style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">content_copy</i></div>
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <p class="card-category">ویرایش اطلاعات پایه برنامه از این بخش انجام می شود.</p>

                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/Alarm/List">هشدارها</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/Doctor/List">پزشکان</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/Resident/List">رزیدنت ها</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/User/List">پرسنل سی تی اسکن ها</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/PhysicUser/List">فیزیسیست</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/Cancer/List">سرطان ها</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/treatmentDevice/List">دستگاه های درمان</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/PhysicTreatmentPlan/List">برنامه درمان فیزیکی</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/KFactor/List">ضریب k</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block" href="~/TreatmentCategory/List">خدمات درمان</a>
                                </div>
                            </div>
                                
                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        اجازه دسترسی به اطلاعات این فرم ها فقط برای کاربر ارشد ممکن است
                    </div>
                </div>
            </div>
        </div>
    </div>

