@model IEnumerable<PhysicManagement.Model.Cancer>

@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">لیست سرطان</h4>
                <h3>
                    <a class="btn btn-sm bg-light text-dark" href="Modify">افزودن جدید</a>
                </h3>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>ردیف</th>
                            <th>نام  </th>
                            <th>نام انگلیسی</th>
                            <th>توضیحات </th>
                            <th style="width:50px;">امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Index = 1;
                            foreach (var Cancer in Model)
                            {
                                <tr>
                                    <td>@Index</td>
                                    <td>@Cancer.Title</td>
                                    <td>@Cancer.EnglishTitle</td>
                                    <td>@Cancer.Description</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                امکانات
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <a class="dropdown-item" href="Modify/@Cancer.Id">ویرایش</a>
                                                <a class="dropdown-item" href="DeleteCancer/@Cancer.Id"> حذف</a>
                                                <a class="dropdown-item" href="~/CancerOAR/List/@Cancer.Id"> لیست ارگان ها</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                Index++;
                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

