<div class="sidebar" data-color="azure" data-background-color="azure">
    <div class="logo"><a href="#" class=""><img class="img" src="~/assets/img/logo.png" /></a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Home/Dashboard"><div class="bg-menu-icons bg-icon_16"></div><p>داشبورد</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Patient/Index"><div class="bg-menu-icons bg-icon_10"></div><p>پذیرش و ورود بیمار</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Patient/ListOfUnsetCountorsForCases?hasContour=false"><div class="bg-menu-icons bg-icon_11"></div><p>ثبت کانتور برای پرونده</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Contour/ContourApprove"><div class="bg-menu-icons bg-icon_12"></div><p>تائید کانتور و تجویز درمان</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/treatmentPhase/List"><div class="bg-menu-icons bg-icon_13"></div><p>طراحی درمان</p></a>
            </li>
           
            <li class="nav-item ">
                <a class="nav-link" href="~/treatmentPhase/ListForPhysicist"><i class="material-icons">library_books</i><p>تایید پلن</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Home/BaseInfo"><i class="material-icons">bubble_chart</i><p>اطلاعات پایه برنامه</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Home/Calculate"><i class="material-icons">bubble_chart</i><p>محاسبه هزینه خدمت</p></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Alarm/Inbox"><i class="material-icons">library_books</i><p>کارتابل من<p></a>
            </li>

            <li class="nav-item active-pro">
                <a class="nav-link" href="~/Account/LogOut">
                    <i class="material-icons">exit_to_app</i>
                    <p>خروج از سیستم</p>
                </a>
            </li>
        </ul>
    </div>
</div>
