<div class="sidebar" data-color="azure" data-background-color="azure">
    <div class="logo">
        <a href="#" class="">
            <img class="img" src="~/assets/img/logo.png" />
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Home/Dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>داشبورد</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Patient/Index">
                    <i class="material-icons">person</i>
                    <p>پذیرش و ورود بیمار</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Patient/ListOfUnsetCountorsForCases?hasContour=false">
                    <i class="material-icons">content_paste</i>
                    <p>ثبت کانتور برای پرونده</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Contour/ContourApprove">
                    <i class="material-icons">content_paste</i>
                    <p>تائید کانتور</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/treatmentPhase/List">
                    <i class="material-icons">library_books</i>
                    <p>تجویز درمان</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="~/Home/BaseInfo">
                    <i class="material-icons">bubble_chart</i>
                    <p>اطلاعات پایه برنامه</p>
                </a>
            </li>
            <li class="nav-item active-pro ">
                <a class="nav-link" href="~/Account/LogOut">
                    <i class="material-icons">exit_to_app</i>
                    <p>خروج از سیستم</p>
                </a>
            </li>
        </ul>
    </div>
</div>
